.flexcontainer {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #edecee;
}

.flexcontainer__header {
    flex-shrink: 0;
    margin-right: auto;
}

.flexcontainer__button {
    margin-right: 20px;
    color: teal;
    background-color: initial;
}

@media (max-width: 767px) {
    .flexcontainer {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flexcontainer__button {
        margin: 0 0 15px 0;
    }
}