.section {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #d3d2d2;
    margin: 10px 0;
}

.section__body {
    padding: 25px;
    border-top: 3px solid #edecee;
}

.section__container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }
}

.section__header {
    margin: 0;
    padding: 25px;
}

@media (max-width: 767px) {
    .section__buttonsContainer {
        display: flex;
        flex-direction: column;
    }
}

.section__button {
    margin: 15px;
    align-self: center;
    cursor: pointer;
    border: none;
    color: teal;
    background-color: inherit;
    transition: transform 0.5s;
}

.section__button:hover {
    transform: scale(0.9);
}

.section__button:disabled {
    color: #acacac;
    cursor: default;
}